@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media query manager:
// 1-600: phone
// 600-900: Tablate
// 900-1200: Tablet landscape
// 1200-1800: Desktop
// 1800-:Big desktop

//1em-16px

//600px/16px= 37.5
@mixin respond($breakpoint) {
  @if $breakpoint ==phone {
    @media (max-width: 37.5em) {
      @content;
    } //600px
  }

  //900/16px= 56.25
  @if $breakpoint ==tab-port {
    @media (max-width: 56.25em) {
      @content;
    } //900px
  }

  //1200/16px= 75em
  @if $breakpoint ==tab-land {
    @media (max-width: 75em) {
      @content;
    } //1200px
  }

  //1800/16= 112.5
  @if $breakpoint ==big-desktop {
    @media (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
